/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* ************************************************************************ */
/*My Code*/
/* Moblie */
*{
  text-decoration: none;
}
main{
  padding-top: 100px;
}
body {
   width: 100%;
   height: 100px;
}
header{
  position: fixed;
  z-index: 5;
  top: 0;
  right: 0;
  left: 0;
  background-color: #242038;
  width: 100%;
  height: 100px;
}
header .header-logo{
  display:none;
}
header .header-brand {
  font-family: Bangers;
  font-size: 34px;
  letter-spacing: 4px;
  font-weight: 900;
  color: #51D6FF;
  text-transform: uppercase;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  text-shadow: 0px 0px 3px #f1f1f1;
}
header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}
header nav ul li{
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 16px;
}
header nav ul li a{
  font-family: Bangers;
  font-size: 20px;
  letter-spacing: 2px;
  color: #fff;
  text-shadow: 2px 1px 5px #111;
}
header .header-cases{
  display: none;
}
/* Desktop */
@media only screen and (min-width: 1000px) {

  header .header-logo{
    display: block;
    width:125px;
    height:75px;
    float: left;
    margin-top: 10px;
  }
  header .header-brand {
    /* 100 - lineheight / 2 */
    display: block;
    margin: 35px 0;
    text-align: left;
    padding: 0 10px 0 30px;
    border-right: 4px solid #fff;
    float: left;
    line-height: 30px;
  }
  header nav ul {
    margin: 20px 0px 0px 20px;
    float: left;
  }
  header nav ul li a{
    line-height: 60px;
  }
  header .header-cases{
    display: block;
    font-family: Bangers;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
    text-shadow: 2px 1px 5px #111;
    line-height: 40px;
    border: 2px solid #111;
    float: right;
    margin-right: 100px;
    margin-top: 30px;
    padding: 0 20px;
  }
}
.main-font{
  font-family: RockSalt;
  font-size:50px;
  font-weight: 500;
  color: #51D6FF;
  text-shadow: 0px 0px 3px #f1f1f1;
  text-align: center;
  text-transform: uppercase;
  margin-top: -120px;

}
.main-font h3{
color: #51D6FF;
margin-top: 80px;
}
@media only screen and (min-width: 1000px) {
  .main-font{
margin-top: -80px;
  }
}
.slanted-div-content{
  position: relative;
  width: auto;
  margin: 0 auto;
  height:600px;
  background-color:#0267C1;
  color: #f1f1f1;
  -webkit-clip-path: polygon(0 0, 100% 2%, 100% 100%, 0 98.5%);
}
.slanted-div-content:after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 0 8px black;
}
/* Testing Slanted Divs*/
@media only screen and (min-width: 1000px) {
.slanted-div-content{
  -webkit-clip-path: polygon(0 0, 100% 11%, 100% 100%, 0 90%);
}
}
.slanted-div-top{
  position: relative;
  width: 100%;
  height: 300px;
  background: rgba(80, 10, 40, 1);
  box-sizing: border-box;
  padding: 150px 0 0 10px;
  margin-bottom: 80px;
}
.slanted-div-top:after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
transform-origin: bottom left;
transform: skewY(4deg);
box-shadow: 0 0 8px black;
}
.slanted-div-foot{
  font-family: RockSalt;
  font-size:50px;
  font-weight: 500;
  color: #51D6FF;
  text-shadow: 0px 0px 3px #f1f1f1;
  text-align: center;
  text-transform: uppercase;
  /* background-color: #2E0219; */
  position: relative;
  width: auto;
  height: 200px;
  background: rgba(80, 10, 40, 1);
  box-sizing: border-box;
  padding: 70px 0 0 10px;
  margin-bottom: 50px;
  margin-top: 80px;
}
.slanted-div-foot:after{
  position: absolute;
  width: 100%;
  height: 100%;
  content: "";
  background: inherit;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
transform-origin: top right;
transform: skewY(4deg);
box-shadow: 0 0 8px black;
}

  /* INDEX */
.index-banner{
width: 100%;
height: calc(100vh - 100px);
background-image: url("https://images.pexels.com/photos/167843/milky-way-rocks-night-landscape-167843.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
display: table;
}

.vertical-center {
  display: table-cell;
  vertical-align: middle;
}

.index-banner h2{
  font-family: RockSalt;
  font-size: 45px;
  line-height: 50px;
  font-weight: 820;
  color: #fff;
  text-align: center;
  text-shadow: 2px 2px 7px #111;
}

.index-banner h1{
  font-family: Bangers;
  font-size: 36px;
  font-weight: 100;
  line-height: 32px;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 6px #111;
  font-style: italic;
  letter-spacing: 3px;
}

.index-links div{
  margin: 16px 16px 0;
  width: calc(100% - 32px);
  height: 100px;
  background-color: #f2f2f2;
}
.index-links div h3{
font-family: RockSalt;
font-size: 34px;
font-weight: 600;
line-height: 100px;
color: #111;
text-align: center;
text-transform: uppercase;
}

.index-cases{
  background-image: url("https://images.pexels.com/photos/370659/pexels-photo-370659.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
}

.index-porfolio{
  background-image: url("https://images.pexels.com/photos/191430/pexels-photo-191430.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: cover;
}
.index-cory{
  background-image: url("https://scontent.fyto1-1.fna.fbcdn.net/v/t31.0-8/10497104_10152151485666627_7753057001020918944_o.jpg?oh=e977dc26be47344d1d5364eaf9e928ff&oe=5B4CD7A1");
  background-size: cover;
}
.index-youtube{
  background-image: url("https://images.pexels.com/photos/34407/pexels-photo.jpg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: cover;
}
.index-about{
  background-image: url("https://images.pexels.com/photos/196649/pexels-photo-196649.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
}
.index-contact{
  background-image: url("https://images.pexels.com/photos/362/marketing-man-person-communication.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
}

@media only screen and (min-width: 1000px) {
  .wrapper{
    width: 1200px;
    margin: 0 auto;
  }
  .index-banner{
  height: 400px;
  }

  .index-banner h1{
    padding-top: 20px;
    display:block;
    width: 400px;
    margin:0 auto;
  }
  .index-links{
  overflow: hidden;
  }

  .index-links div{
    margin: 20px 10px 0;
    height: 200px;
    background-color: #f2f2f2;
    float: left;
    opacity: .85;
  }
  .index-links div:hover{
    opacity: 1;
  }
  .index-rectangle {
    width: calc(50% - 20px) !important;
  }
  .index-square {
    width: calc(25% - 20px) !important;
  }
  .index-links div h3{
  line-height: 200px;
  }
}

/* CASES */
.cases-links{
  overflow: wrap;
  margin: 0 auto;
}

.cases-links h2{
  margin: 40px;
  padding:30px;
  font-family: RockSalt;
  font-size: 44px;
  font-weight: 600;
  color: #51D6FF;
  text-transform: uppercase;
  text-align: center;
  background-color: #2E0219;
}
.cases-links .case-link{
  width: 230px;
  height: 230px;
  margin: 0 auto;
  margin-top: 30px;
}
.cases-links .case-link p{
  padding-top: 45%;
  font-family: RockSalt;
  font-size:28px;
  font-weight: 600;
  color: #e3e3e3;
  text-shadow: 2px 1px 5px #111;
  text-align: center;
  text-transform: uppercase;
}
.cases-webdesign{
  background-image: url("https://images.pexels.com/photos/34140/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
}
.cases-webdevelop{
  background-image: url("https://images.pexels.com/photos/574071/pexels-photo-574071.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
}
.cases-videography{
  background-image: url("https://images.pexels.com/photos/257904/pexels-photo-257904.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
}
.cases-photography{
  background-image: url("https://images.pexels.com/photos/8140/pexels-photo.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
}
.cases-youtube{
  background-image: url("https://images.pexels.com/photos/221181/pexels-photo-221181.jpeg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
}
.cases-consult{
  background-image: url("https://images.pexels.com/photos/7095/people-coffee-notes-tea.jpg?w=1260&h=750&auto=compress&cs=tinysrgb");
  background-size: cover;
}

@media only screen and (min-width: 1000px) {

  .cases-links .case-link{
    float: left;
    width: 230px;
    height: 230px;
    margin: 70px 20px 0px 0px;
  }
  .cases-links .case-link p{
    padding-top: 45%;
    text-align: center;
  }
  /* .main-font h3{
    margin: 40px;
    padding:60px;
    text-align: center;
  } */
  .cases-links div{
    opacity: .85;
  }
  .cases-links div:hover{
    opacity: 1;
  }
  .flex-container .cases-links{
        height: 550px;
        display:flex;
        flex-direction: row;
        flex-flow: row wrap;
        justify-content: center;
        margin: 15px 15px;
      }
}
/* CASE */
.fixed-bg {
    background-image: url("https://images.pexels.com/photos/414171/pexels-photo-414171.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .fixed-bg h1{
      padding-top: 100px;
      font-family: Bangers;
      font-size: 60px;
      font-weight: 300;
      color: rgba(209, 80, 16, .75);
      text-shadow: 2px 2px 5px #f1f1f1;
      text-align: center;
      text-transform: uppercase;
    }
.flex-container{
      padding-top: 10px;
      height: 1720px;
      background-color:#0267C1;
      display:flex;
      flex-direction: row;
      flex-flow: row wrap;
      justify-content: center;
    }
.flex-container iframe{
    border-radius: 25px;
    width: 300px;
    height: 240px;
    margin: 15px 15px;
  }

.fixed-bg2 {
    background-image: url("https://images.pexels.com/photos/835615/pexels-photo-835615.jpeg?h=350&auto=compress&cs=tinysrgb");
    min-height: 800px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

@media only screen and (min-width: 1000px) {
.flex-container{
      padding-top: 10px;
      height: 720px;
    }
    .flex-container iframe{
        border-radius: 25px;
        width: 400px;
        height: 300px;
        margin: 15px 15px;
      }
}
/* Testing transitions*/
/* .back-change {
  transition: background-color 3s ease;
  background-color: #2E0219;
}
.back-change:hover {
  background-color: #ffff;
} */
.text-change{
  transition: color 3s ease;
  color: ##51D6FF;
}
.text-change:hover{
    color: #f1f1f1;
}

/* Cory Page */
/* Parallax */

html.paracontent {
  height: 100%;
  overflow: hidden;
}

body.paracontent{
  margin:0;
  padding:0;
	perspective: 1px;
	transform-style: preserve-3d;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}
.paracontent div h1{
font-family: RockSalt;
font-size: 150%;
margin: -50px, -50px, 0, 0;
font-weight: 600;
line-height: 30px;
padding: 20px;
color: #f1f1f1;
text-align: center;
text-transform: uppercase;
text-shadow: 0 2px 5px #000;
}
.paracontent div p{
font-family: Bangers;
font-size: 24px;
font-weight: 300;
color: #f1f1f1;
text-align: center;
text-transform: uppercase;
letter-spacing: 3px;
}
.slide {
  position: relative;
  padding: 19vh 10%;
  /* min-height: 100vh; */
  width: 100vw;
  box-sizing: border-box;
  box-shadow: 0 -1px 10px rgba(0, 0, 0, .7);
	transform-style: inherit;
}
.slide2 {
  position: relative;
  padding: 10vh 10%;
  min-height: 100vh;
  width: 100vw;
  box-sizing: border-box;
	transform-style: inherit;
  margin-top: -800px;
}

.slide2:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.slide:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 8px 1px rgba(0, 0, 0, .7);
}
.title {
  width: 50%;
  padding: 7%;
  margin: 200px 0 0 0;
  border-radius: 5px;
  background: rgba(36,32,56, .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
.slide:nth-child(2n) .title {
  margin-left: 0;
  margin-right: auto;
}
.slide:nth-child(2n+1) .title {
  margin-left: auto;
  margin-right: 200px;
}
.slide, .slide:before {
  background: 50% 50% / cover;
}
img.para-img {
  /* position: absolute; */
  top: 50%;
  left: 70%;
  padding: 10px;
  border-radius: 5px;
  background: rgba(209, 80, 16,  .7);
  box-shadow: 0 0 8px rgba(0, 0, 0, .7);
}
img.para-img1 {
  width: 400px;
  height: 300px;
    transform: translateZ(.15px) translateX(-65%) translateY(-130%) rotate(2deg);
}
img.para-img2 {
  width: 320px;
  height: 240px;
    transform: translateZ(.15px) scale(.75) translateX(-65%) translateY(-130%) rotate(2deg);
}
img.para-img3 {
  width: 160px;
  height: 120px;
  transform: translateZ(.15px) scale(.75) translateX(-1185px) translateY(-130%) rotate(2deg);
}
/* img.para-img:last-of-type {
  transform: translateZ(.15px) scale(.75) translateX(900px) translateY(-650px) rotate(-3deg);
} */

#title {
  background: #0267C1;;
  min-height: 600px;
}
#title h1 {
 transform: translateZ(.25px) scale(.75);
 transform-origin: 50% 100%;
}
#slide1:before {
  background-image: url("https://images.unsplash.com/photo-1504233529578-6d46baba6d34?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e0224a1f3fbd532f89f3ec74711f5cc7&auto=format&fit=crop&w=1353&q=80");
  transform: translateZ(-1px) scale(2);
    max-height: 1400px;
}
#slide2{
  background-image: url("https://images.unsplash.com/photo-1484603738253-e5b73679e8cb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=3d626d1bc5fda2b5ccc0c72a89d9c120&auto=format&fit=crop&w=1400&q=80");
  z-index:2;
  max-height: 1400px;
}
#slide3:before {
  background-image: url("https://images.unsplash.com/photo-1503751192943-5537c30ba181?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=47b447b0a69207dc6f8cfde32958539e&auto=format&fit=crop&w=1350&q=80");
  transform: translateZ(-1px) scale(2);
  max-height: 1650px;
}
#slide4 {
  transform: translateZ(0);
  height: 150px;
  background: #0267C1;
}

@media only screen and (min-width: 1000px) {
  .paracontent div h1{
  font-size: 400%;
  font-weight: 600;
  line-height: 30px;
  padding-bottom: 50px;
  }
  .paracontent div p{
  font-size: 24px;
  font-weight: 300;
  letter-spacing: 3px;
  }
  img.para-img {
    /* position: absolute; */
    display:block;
    top: 50%;
    left: 62%;
    z-index: 0;
    transform: translateZ(.15px) scale(.75) translateX(-500%) translateY(-130%) rotate(2deg);
  }
  img.para-img1 {
    width: 400px;
    height: 300px;
      transform: translateZ(.15px) scale(.75) translateX(950px) translateY(-650px) rotate(2deg);
  }
  img.para-img2 {
    width: 320px;
    height: 240px;
    transform: translateZ(.15px) scale(.75) translateX(950px) translateY(-750px) rotate(-3deg);
  }
  img.para-img3 {
    width: 300px;
    height: 400px;
    transform: translateZ(.15px) scale(.75) translateX(150px) translateY(-650px) rotate(3deg);
  }
  img.para-img4 {
    width: 400px;
    height: 300px;
    transform: translateZ(.15px) scale(.75) translateX(150px) translateY(-650px) rotate(-3deg);
  }
  img.para-img5 {
    width: 400px;
    height: 300px;
        transform: translateZ(.15px) scale(.75) translateX(1150px) translateY(-1250px) rotate(3deg);
  }
}
/* DESIGN */
.cases-links .design-link {
  width: 220px;
  height: 400px;
  margin: 80px 20px;
}
.design-flex-container .cases-links{
      height: 1550px;
      display:flex;
      flex-direction: row;
      flex-flow: row wrap;
      justify-content: center;
      margin: 15px 15px;
    }
    .cases-links .design-link p{
      padding-top: 180px;
      font-family: RockSalt;
      font-size:28px;
      font-weight: 600;
      color: #e3e3e3;
      text-shadow: 2px 1px 5px #111;
      text-align: center;
      text-transform: uppercase;
    }
    .design-flex-container{
          padding-top: 10px;
          max-height: 1720px;
          background-color:#0267C1;
          display:flex;
          flex-direction: row;
          flex-flow: row wrap;
          justify-content: center;
        }

.design-A{
  background-image: url("https://images.pexels.com/photos/285814/pexels-photo-285814.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: cover;
}
.design-B{
  background-image: url("https://images.pexels.com/photos/285814/pexels-photo-285814.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: cover;
}
.design-C{
  background-image: url("https://images.pexels.com/photos/285814/pexels-photo-285814.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: cover;
}
.design-D{
  background-image: url("https://images.pexels.com/photos/285814/pexels-photo-285814.jpeg?w=940&h=650&auto=compress&cs=tinysrgb");
  background-size: cover;
}
/* CONTACT */
body.contact{
  text-align: center;
}
form{
  max-height: 100px;
  width: 350px;
  display: inline-block;
  text-align: center;
  padding: 80px;
  line-height: 30px;
}
h1.contact{
  padding:100px;
  max-height: 40px;
}
input{
  width: 100%;
  display: inline-block;
  text-align: center;
}

textarea{
  width: 350px;
  resize: vertical;
  max-height: 500px;
}

/* FOOTER */
footer {
  margin-top: 20px;
  width: calc(100% - 80px);
  padding: 40px 40px;
  background-color: #111;
  overflow: hidden;
}
footer ul{
  width: fit-content;
  float: left;
  padding: 20px 0px 0px 20px;
}
footer ul li{
  display: block;
  list-style: none;
}
footer ul li a{
  font-family: Bangers;
  font-size: 26px;
  color: #fff;
  line-height: 42px;
  letter-spacing: 2px;
}
.footer-links-cases{
  display: none;
}
.footer-sm {
  width: 50px;
  float: left;
  padding-left: 50px;
  max-height:  80px;

}
.git-hub {
  width: 65px;
  float: left;
  padding: 20px 0px 0px 69px;
}
.footer-sm img{
  width: 100px;
  padding-right: 30px;
}
@media only screen and (min-width: 1000px) {

  .footer-links-cases{
    display: block;
  }
  footer ul{
    padding-right: 30px;
  }
  footer ul li p{
    font-family: RockSalt;
    font-size: 28px;
    color: #fff;
    line-height: 42px;
    text-transform: uppercase;
  }
}
